@mtm:registry=https://mtm.myget.org/F/npm/npm/
//mtm.myget.org/F/npm/npm/:_password=QE5wbSMyMDQwUm9sbA==
//mtm.myget.org/F/npm/npm/:username=vndatinya
//mtm.myget.org/F/npm/npm/:email=vndatinya@revealservices.com
//mtm.myget.org/F/npm/npm/:always-auth=true