@import url(~antd/dist/antd.css);
@font-face {
  font-family: "AvenirNextLTProRegular";
  src: url("./assets/fonts/AvenirNextLTPro-Regular.otf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "AvenirNextLTProBold";
  src: url("./assets/fonts/AvenirNextLTPro-Bold.otf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "AvenirNextLTProDemi";
  src: url("./assets/fonts/AvenirNextLTPro-Demi.otf") format("truetype");
  font-weight: normal;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}